<div class="row">
    <div class="col-2"></div>
    <div class="col-10">
        
        <div class="row">
            <img [src]="pokemon?.img" class="col-2" class="evolution-image" [routerLink]="['/pokemon', pokemon?.num]">
            <div class="col-7">
                <div class="row">
                    {{pokemon?.num}}
                </div>
                <div class="row">
                    {{pokemon?.name}}
                </div>
                <div class="row">
                    {{pokemon?.type}}
                </div>
                <div *ngIf="evolvedFrom != undefined" class="row">
                    Evolved from: {{evolvedFrom}}
                </div>
                <div *ngIf="evolvesTo != undefined" class="row">
                    Evolves to: {{evolvesTo}}
                </div>
            </div>
        </div>
    </div>
</div>
